.main-container {
  max-width: var(--container-max);
  margin: 0 auto;
}

.brand {
  background-color: #fff;
  padding: 20px;
}

.brand-logo {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  overflow-x: hidden;
  list-style: none;
}

.brand-logo img {
  animation: infinite-scroll 15s linear infinite;
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(600%);
  }
  50% {
    transform: translateX(-600%);
  }
  100% {
    transform: translateX(600%);
  }
}

.brand-logo li {
  height: 40px;
}

.brand-logo li img {
  display: inline-block;
  position: static;
  vertical-align: middle;
  max-height: 100%;
  margin: 0 20px;
}
