@import "index.css";

.cart__content {
  display: flex;
}

.cart__info {
  display: flex;
  flex-direction: column;
  color: #000;
  font-size: 21px;
  font-weight: 400;
  padding: 50px;
}

.cart__info span:last-of-type {
  margin-top: 12px;
  margin-bottom: 25px;
}

.button__box a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  gap: 15px;
  background: #daf536;
  font-weight: normal;
  box-shadow: 0px 1px 0px 0px #b9d828;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 45px;
  text-decoration: none;
  color: #000;
}

.cart__title {
  display: block;
  font-size: 17px;
  background-color: #fff;
  padding: 25px 25px;
  font-weight: bold;
}

.cart__item {
  width: 100%;
  padding: 25px 0px;
  background-color: #fff;
}

.cart__container {
  max-width: 1340px;
}

.cart__image {
  max-width: 118px;
  padding-right: 25px;
}

.cart__image img {
  width: 100%;
  height: auto;
  mix-blend-mode: multiply;
}

.cart__details {
  position: relative;
  display: grid;
  grid-template-columns: 60% 20% 15% 5%;
  align-items: center;
  padding: 25px 25px;
}

.cart__details::after {
  content: "";
  position: absolute;
  height: 1px;
  background: #ebebee;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.cart__details:last-of-type::after {
  width: 0;
}

.img__AndName {
  display: flex;
  align-items: center;
}

.cart__name {
  width: 100%;
}

.cart__price {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  font-weight: 500;
}

.cart__price button {
  background-color: transparent;
  border: 1px solid #d5deb7;
  font-size: 16px;
  width: 28px;
  height: 28px;
  font-weight: bold;
  border-radius: 50%;
}

.cart__price button:hover {
  border: 1px solid #79852a;
}

.cart__subtotal {
  font-weight: 500;
  text-align: right;
}

.cart__remove__item {
  position: absolute;
  width: 16px;
  height: 16px;
  text-indent: 9999px;
  background: #000;
  border-radius: 50%;
  border: none;
  right: 3%;
  margin: 0 0 0 18px;
  cursor: pointer;
}

.cart__remove__item::before {
  content: "";
  width: 10px;
  height: 2px;
  background: #fff;
  transform: rotate(45deg);
  position: absolute;
  left: 20%;
  bottom: 45%;
  z-index: 2;
}

.cart__remove__item::after {
  content: "";
  width: 10px;
  height: 2px;
  background: #fff;
  transform: rotate(-45deg);
  position: absolute;
  left: 20%;
  bottom: 45%;
  z-index: 2;
}

button {
  cursor: pointer;
}
