@import "index.css";

.hero {
  position: relative;
  height: 400px;
  padding-top: 0;
  margin-bottom: 18px;
  background: linear-gradient(
    0deg,
    rgba(176, 232, 129, 0.4) 0%,
    rgba(114, 247, 197, 0.4) 100%
  );
  text-align: center;
  min-width: 250px;
  overflow: hidden;
  scrollbar-width: none;
  margin-bottom: 18px;
}

.hero-slider {
  position: relative;
}

.hero-text {
  position: absolute;
  top: 150px;
}

.container {
  margin: 0 auto;
  height: calc(100% - 113px);
  max-width: var(--container-max);
  overflow: hidden;
}

.slider__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 287px;
}

.slider__content div {
  text-align: left;
  width: 40%;
}

.slider__content div span {
  font-size: 29px;
  font-weight: bold;
  line-height: 35px;
}

.slider__content div p {
  font-size: 29px;
  line-height: 35px;
}

.container img {
  width: 40%;
  height: 100%;
}

.category ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 113px;
}

.category ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 8.5%;
  height: 100%;
  margin: 0;
  padding-top: 15px;
  gap: 10px;
  text-align: center;
  flex-wrap: wrap;
}

.category ul li a {
  width: 100%;
  height: 100%;
  color: #140f26;
}

.category ul li a:hover {
  text-decoration: underline;
}

.category ul li h6 {
  width: 90%;
  margin: 0 auto;
}

.category {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  max-width: var(--container-max);
}

@media (max-width: 1025px) {
  .hero {
    padding-top: 70px;
    margin-bottom: 0;
  }

  .slider__content {
    flex-direction: column;
    gap: 0;
  }

  .slider__content div {
    text-align: center;
    width: 90%;
    padding-top: 10px;
  }

  .slider__content div span,
  .slider__content div p {
    font-size: 20px;
  }

  .container img {
    width: 100%;
  }

  .category ul {
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: none;
    height: 100%;
  }

  .category ul li {
    width: 90px;
    height: 85px;
    padding: 25px 15px 5px 15px;
  }

  .category ul li h6 {
    width: 100%;
    height: 24px;
    overflow: hidden;
    white-space: normal;
    line-height: 12px;
    font-weight: 600;
    margin: 0 auto;
  }
}
