@import "index.css";

nav {
  display: flex;
  position: relative;
  padding: 15px 12px 15px 20px;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0 1px 2px 0 #0000001a;
  height: 70px;
  z-index: 11;
}

.burger {
  display: flex;
  height: 43px;
  padding: 0 17px 0 8px;
  background: #1a242c;
  color: #fff;
  font-family: var(--font-manrope);
  font-weight: 600;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  white-space: nowrap;
  border: none;
}

.logo {
  min-width: 152px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-darker-green);
}

.logo:hover {
  text-decoration: none;
}

.ais-SearchBox-form,
.search {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  max-width: 1200px;
  min-width: 100px;
  z-index: 50;
}

.ais-SearchBox-input {
  height: 40px;
  border-radius: 50px;
  border: 1px solid #ececec;
  background: #f6f6f6;
  padding: 13px 13px 13px 45px;
  font-family: var(--font-manrope);
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  box-sizing: border-box;
  outline: none;
}

.ais-SearchBox-submit {
  position: absolute;
  left: 15px;
  top: 12px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.ais-SearchBox-reset {
  position: absolute;
  right: 15px;
  top: 12px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.ais-SearchBox-submitIcon {
  width: 15px;
  height: 15px;
}

.reg-login,
.wishlist-container,
.help-container,
.shopping-container {
  height: 44px;
  display: flex;
  align-items: center;
  padding: 5px 0 0 15px;
}

.shopping-container {
  padding: 5px 15px 0 15px;
}

.reg-login button,
.wishlist-container a,
.help-container a,
.shopping-container a,
.shopping-container button {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
}

.reg-login button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.shopping-container button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.register,
.wishlist-container,
.help-container {
  max-width: 140px;
}

.reg-login .register span,
.reg-login .wishlist span,
.reg-login .help-text span,
.wishlist-container .register span,
.wishlist-container .wishlist span,
.wishlist-container .help-text span,
.help-container .register span,
.help-container .wishlist span,
.help-container .help-text span,
.shopping-container .cart-text span {
  display: block;
  font-size: 10px;
  color: #212121;
}

.reg-login .register span:last-child,
.reg-login .wishlist span:last-child,
.reg-login .help-text span:last-child,
.wishlist-container .register span:last-child,
.wishlist-container .wishlist span:last-child,
.wishlist-container .help-text span:last-child,
.help-container .register span:last-child,
.help-container .wishlist span:last-child,
.help-container .help-text span:last-child,
.shopping-container .cart-text span:last-child {
  font-size: 14px;
  font-weight: 700;
  color: #787171;
  white-space: nowrap;
}

.ais-Hits {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  margin: 0 auto;
  z-index: 10;
  background-color: #fff;
}

.ais-Hits-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  padding: 0;
  width: 100%;
  margin: 0;
  padding: 20px 0;
  border: 1px solid #d5d5d5;
}

.search__product__card {
  width: 100%;
}

.search__product__info {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  height: 50px;
  border: 1px solid #d5d5d5;
  z-index: 12;
}

.search__product__info:last-of-type {
  border-top: none;
  border-bottom: none;
}

.product__name {
  width: 70%;
}

.price {
  width: 20%;
}

.display {
  display: block;
}

.none {
  display: none;
}
