@import "index.css";

.current__product__info {
  display: grid;
  position: relative;
  grid-template-columns: 70% 30%;
  margin-top: 100px;
}

.current__product__all {
  padding: 20px;
  background-color: #fff;
}

.image {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 704px;
  height: 430px;
}

.image img {
  max-width: 100%;
  height: 90%;
  object-fit: contain;
  margin: auto;
}

.description h3 {
  font-size: 26px;
  padding: 10px 10px 10px 0;
}

.current__product__pay {
  background-color: #fff;
  height: fit-content;
  border-radius: 8px;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.23);
  padding-top: 20px;
}

.add__to__cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 4px;
  border: none;
  height: 52px;
  font-size: 15px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.23);
  background: #1cb4e5;
  color: #fff;
  width: 90%;
  cursor: pointer;
  text-decoration: none;
  margin: 0 auto 20px auto;
}

.add__to__cart:hover {
  background: #179fcc;
  text-decoration: none;
}

.product__both__prices {
  display: flex;
  justify-content: space-around;
}

.product__or {
  position: absolute;
  left: -10px;
  background-color: #fff;
}

.product__leasing__price {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding-left: 23px;
  border-left: 1px solid #d5d5d5;
}

.leasing__text {
  font-size: 14px;
  font-weight: bold;
  flex-wrap: wrap;
  color: #8db723;
}

.select__quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 20px 25px 20px;
}

.select__text {
  font-size: 16px;
  font-weight: bold;
}

.number__input {
  display: inline-flex;
  height: 40px;
  padding: 0 5px;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
}

.number__input input {
  font-family: var(--font-manrope);
  font-size: 17px;
  font-weight: bold;
  width: 40px;
  padding: 5px;
  border: none;
  text-align: center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.quantity__down,
.quantity__up {
  font-size: 17px;
  font-weight: bold;
  width: 30px;
  height: 38px;
  position: relative;
  top: 2px;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.phones__banners,
.electronics__banners,
.perfumes__banners,
.garden__banners,
.toys__banners {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.sports__banners,
.footwear__banners {
  display: grid;
  grid-template-columns: 1fr;
}

.phones__banners .banner__container,
.electronics__banners .banner__container,
.perfumes__banners .banner__container,
.garden__banners .banner__container,
.sports__banners .banner__container,
.toys__banners .banner__container,
.footwear__banners .banner__container {
  background-color: #f9f7f7;
  width: 100%;
  height: 215px;
}

.phones__banners img,
.computers__banners img,
.electronics__banners img,
.perfumes__banners img,
.garden__banners img,
.furniture__banners img,
.sports__banners img,
.toys__banners img,
.footwear__banners img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
}

.computers__banners,
.furniture__banners {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.computers__banners .banner__container,
.furniture__banners .banner__container {
  background-color: #f9f7f7;
  width: 100%;
}

@media (max-width: 1025px) {
  .phones__banners,
  .electronics__banners,
  .perfumes__banners,
  .garden__banners,
  .toys__banners {
    display: flex;
    flex-direction: column;
  }

  .phones__banners .banner__container,
  .electronics__banners .banner__container,
  .perfumes__banners .banner__container,
  .garden__banners .banner__container,
  .sports__banners .banner__container,
  .toys__banners .banner__container,
  .footwear__banners .banner__container {
    height: auto;
  }

  .current__product__info {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 70px;
  }

  .current__product__pay {
    display: block;
    box-shadow: none;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    border-radius: 0;
    margin-top: 30px;
  }

  .image {
    width: 100%;
    height: auto;
  }

  .image img {
    max-width: 100%;
  }

  .description h3 {
    font-size: 20px;
  }

  .description span {
    font-size: 16px;
  }
}
