@import "index.css";

.little-spacer {
  height: var(--little-spacer);
}

.spacer {
  height: var(--spacer);
}

.countdown {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding-top: 20px;
  padding-left: 20px;
}

.countdown,
.category__title {
  font-size: 26px;
  font-weight: bold;
  background-color: #fff;
  color: #140f26;
  padding-top: 20px;
  padding-left: 20px;
}

.timer {
  font-size: 26px;
  font-weight: bold;
  color: var(--color-light-green);
  background-color: #000;
  border-radius: 20px;
  padding: 0 15px;
  margin: 0 0 0 15px;
}

.products {
  background: #fff;
  padding: 20px;
}

.products-container {
  background-color: red;
}

.products__category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background: #fff;
  gap: 15px;
  padding: 20px;
}

.product__card {
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 10px 10px 20px 10px;
  background-color: #fff;
}

.product__card:hover {
  border-color: var(--color-border-green);
}

.splide__arrow:disabled {
  display: none;
}

.product__slider .splide__arrow {
  background-color: #fff;
  top: 45%;
  opacity: 1;
  border: 1px solid #027ea6;
}

.image__container {
  position: relative;
  height: 200px;
  box-sizing: border-box;
  border-radius: 7px;
  margin-bottom: 10px;
  background-color: #f9f7f7;
}

.image__container img {
  width: auto;
  height: auto;
  position: absolute;
  max-width: 95%;
  max-height: 95%;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  mix-blend-mode: multiply;
}

.top__title {
  position: absolute;
  top: 12px;
  left: 12px;
  width: calc(100% - 50px);
}

.top__title span {
  display: inline-flex;
  height: 25px;
  padding: 0 10px;
  margin: 0 3px 3px 0;
  align-items: center;
  font: 600 13px Manrope, sans-serif;
  color: #fff;
  border-radius: 4px;
  background: #140f26;
  border: 1px solid #f9f7f7;
  text-align: center;
  white-space: nowrap;
}

.product__info {
  height: 134px;
}

.product__category {
  display: flex;
  height: 24px;
  align-items: center;
  font-weight: bold;
  font-size: 10px;
}

.product__category img {
  margin-right: 4px;
}

.product__categories {
  display: flex;
  gap: 14px;
}

.product__name a {
  font-size: 13px;
  line-height: 20px;
  white-space: normal;
  color: #140f26;
}

.product__variation {
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}

.variation__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0 13px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.variation__list li span {
  color: #027ea6;
  font-weight: 500;
  padding-left: 4px;
}

.variation__list li {
  line-height: 20px;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 300;
  color: #787171;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product__general {
  display: flex;
  align-items: center;
  height: 30px;
  padding-top: 10px;
  white-space: nowrap;
}

.rating {
  display: flex;
  align-items: center;
  height: 20px;
  padding-right: 15px;
  padding-bottom: 4px;
  font-size: 10px;
  font-weight: 500;
  color: #212121;
}

.star {
  fill: var(--color-darker-green);
}

.delivery {
  display: flex;
  align-items: center;
  height: 20px;
  padding-right: 15px;
  padding-bottom: 4px;
  font-size: 10px;
  font-weight: 500;
  color: #212121;
}

.stock {
  display: flex;
  align-items: center;
  height: 20px;
  padding-right: 15px;
  padding-bottom: 4px;
  font-size: 10px;
  font-weight: 500;
  color: #212121;
}

.red {
  color: #ff2b5e;
}

.product__price {
  display: flex;
  height: 40px;
  padding-top: 10px;
  flex-wrap: wrap;
  overflow: hidden;
}

.product__price img {
  float: left;
  height: 100%;
  width: auto;
}

.product__price .leasing__info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  color: #fff;
  background: #000;
  border-radius: 3px;
  margin-left: 3px;
}

.product__price .leasing__info span:nth-child(2) {
  font-size: 11px;
}

.product__mid__price {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 7px 0 5px;
  background: #ddf344;
  border-radius: 0 4px 4px 0;
}

.product__mid__price span {
  font-size: 18px;
  font-weight: bold;
}

.product__price-decimal {
  font-size: small;
}

.notification {
  position: relative;
  z-index: 9999;
  padding: 10px 20px;
  background-color: var(--color-darker-green);
  color: #fff;
  border-radius: 16px;
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateY(-200%);
  -webkit-animation: noti 2s infinite forwards alternate ease-in-out;
  animation: noti 2s infinite forwards alternate ease-in-out;
}

.notification-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: normal;
  font-family: var(--font-manrope);
}

.notification-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notification-text strong {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

@-webkit-keyframes noti {
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes noti {
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
}

.product__ad img {
  max-width: 100%;
  width: 100%;
}
